<h1>{{title}}</h1>

<h2>{{message}}</h2>

<img src="../public/images/main-img.jpg" alt="Saje Diffuser">

<p id="producDesc">{{productDesc}}</p>
<p id="howToUse">{{howToUse}}</p>
<p id="benefits">{{benefits}}</p>
